.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 4.8%;
  padding-left: 4.8%;
  width: auto;
}

@media (min-width: 992px) {
  .container {
    padding-right: 0;
    padding-left: 0;
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1116px;
  }
}